{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'teachers/style.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <title>Teacher Feedback</title>
    </head>

    <body>
		<div class = "navbar">
			<ul class = "navbar-ul">
				<li class = "navbar-li"><img src="{% static 'teachers/images/logo3.png' %}" width="150" height="50"/></li>
				<li class = "navbar-li"><a href = /> Home </a></li>
				<li class = "navbar-li"><a href = message.html>Give Feedback </a></li>
				<li  class = "navbar-li"><a href = login.html> Log in </a></li>
			</ul>
		</div>
        <div class = "box1">
			<p> Teacher Login</p>
            <form action="/inbox" method="post">{% csrf_token %}
				Username: <input type="text" name="username"> {% csrf_token %}
				Password:  <input type="password" name="password">
				</br>
				<input type="submit" value="Submit" />
			</form>
        </div>
    </body>

</html>
